html {
    font-family: sans-serif;
    height: 100%;
}

body {
    background-color: gray;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    margin: 0;
}

tr {
    border-style: solid;
}

td {
    overflow: hidden;
}

#tag-viewer {
    background-color: white;
    grid-row: 1 / 3;
    overflow: scroll;
}

#tag-viewer > div {
    padding: 3px;
}

#list-viewer {
    background-color: white;
    border: none;
    grid-row: 1 / 3;
    overflow: scroll;
}

#tag-viewer > div:hover, #biblio-table > tr:hover {
    background-color: #dfe6e9;
}

.focused {
    background-color: #b2bec3 !important;
    outline: none;
}

#info-viewer {
    background-color: white;
    padding: 10px;
}

#info-viewer > div {
    margin-bottom: 10px;
}

#info-viewer textarea {
    border: none;
    resize: vertical;
    width: 100%;
}

#info-viewer input {
    border: none;
    text-overflow: ellipsis;
    width: 100%;
}

#note-editor {
    background-color: white;
}

.info-item {
    font-weight: bold;
    line-height: 120%;
    width: 100px;
}

#bib-title {
    font-weight: bold;
    font-size: large;
}
